{% extends 'base.html' %}
{% block title %}Home{% endblock %}

{% block content %}

    <div class="row">
        <div class="col">
            <h2>{{ recipe }}
                {% if recipe.favorite %}
                    <i title="Ajouté aux favoris" class="fas fa-xs fa-heart"></i>
                {% endif %}
            </h2>
        </div>
    </div>

    <div class="row">
        <div class="col">
            {% if recipe.total_time %}
                Temps de préparation : {{ recipe.total_time }} minutes
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col">
            <ul>
                {% for ingredient in ingredients %}
                    <li>{{ ingredient.quantity }} {{ ingredient.ingredient|lower }}{{ ingredient.quantity|pluralize }}</li>
                {% endfor %}
            </ul>


        </div>
    </div>

{% endblock %}