{% extends 'base.html' %}
{% load tarecette_extras %}
{% block title %}Home{% endblock %}

{% block content %}

    <div class="row">
        <div class="col">
            <h2>Recettes ({{ recipes.count }})</h2>
            <ul>
                {% for recipe in recipes %}
                    <li><a href="{% url 'recipe_detail' recipe.id recipe.get_slug %}">{{ recipe }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>

{% endblock %}