{% extends 'base.html' %}
{% block title %}Home{% endblock %}

{% block content %}

    <div class="row">
        <div class="col">
            <h2>{{ category }}</h2>
        </div>
    </div>

{% endblock %}