{% extends 'base.html' %}
{% load tarecette_extras %}
{% block title %}Catégories{% endblock %}

{% block content %}

    <div class="row">
        <div class="col">
            <h2>Catégories ({{ categories.count }})</h2>
            <ul>
                {% for category in categories %}
                    <li><a href="{% url 'category_detail' category.id category.get_slug %}">{{ category }} ({{ category.get_recipe_count }})</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>

{% endblock %}