{% extends 'base.html' %}
{% load tarecette_extras %}
{% block title %}Home{% endblock %}

{% block content %}

    <div class="row">
        <div class="col">
            <h2>Les 3 derniers ajouts :</h2>
            <ul>
                {% for recipe in recipes %}
                    <li><a href="{% url 'recipe_detail' recipe.id recipe.get_slug %}">{{ recipe }}</a></li>
                {% endfor %}

                {% all_recipes as all_recipes %}
                <li class="see-all"><a href="{% url 'recipes_list' %}">Voir tout ({{ all_recipes.count }})</a></li>
            </ul>
        </div>
    </div>

    <div class="row">
    <div class="col">
    <h2>Les catégories les plus populaires</h2>
        <ul>
            {% for category in categories %}
                <li>{{ category }} ({{ category.get_recipe_count }} recette{{ category.get_recipe_count|pluralize }})</li>
            {% endfor %}
        <li class="see-all"><a href="{% url 'categories_list' %}">Voir tout ({{ categories.count }})</a></li>

        </ul>
    </div>
    </div>

{% endblock %}